/* ーーーーーーーーーーーーー以下スマホ対応CSSーーーーーーーーーーーーーーーーーーーーーー */


@media screen and (max-width: 768px) {

    .pc-nav {
        display: none;
    }
    
    .explain br {
        display: none;
      }

    * {
        padding: 0;
        margin: 0;
        
    }
    
    a {
        text-decoration: none;
    }
    a:visited{
        color: inherit;
      }

      .back-image {
    
        background: url(top3.jpg) no-repeat center center fixed #C0C0C0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    /* ---------------------------------------------------- */
    /* ヘッダー部分 */
    header {
        height: 100%;
    }

    .page-header {
        padding-top: 30px;
        font-size: 15px;
        font-family: 'Philosopher',serif;
        color: black;
        text-align: center;
        letter-spacing: 7px;

    }
    
    /* ------------------------------------------------------------ */
    /* 説明 */
    article {
        font-size: 14px;
        padding-top: 20px;
        line-height: 1.5;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        text-indent: 1em;
        padding-left: 1em;
        padding-right: 1em;
       
    }
    .br::before {
        content: "\A" ;
        white-space: pre ;
    }
    /* ------------------------------------------------------------ */
    /* メインボックス */
    
    .box-wrapper {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
        padding-bottom: 200px;
        width:100%;
    }
    
    .box {
        box-sizing: border-box;
        text-align: center;
        margin-top: 10px;
    }

    
    .box img {
        height: 80px;
        width: 80px;
        border-radius: 50px;
    }
    
    .box h2  {
        font-size: 20px;
        line-height: 0.8;
        font-family: 'Philosopher',serif; 
        color: white;
    }
    
    .box p  {
        font-size: 10px;
        color: white;
    }
    
    /* <!-- ---------------------------------------------------------------------- --> */
    
    .page-footer {
        background-color: #000;
        opacity: .6;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 30px;
    }
    
    .footer-list {
        display: flex;
        opacity: 1;
        justify-content: center;
        list-style: none;
        padding-top: 2px;
    }
    
    .footer-list a {
        margin: 5px;
        font-size: 12px;
        color: white;
    }
    
    .footer-list a:hover {
        color: aqua;
    }

}