@media screen and (min-width: 768px) {

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
a:visited{
    color: inherit;
  }

  body {

    background-image: url(toppage-header.png);
    background-size: cover;
    height: 800px;
}

/* ---------------------------------------------------- */
/* ヘッダー部分 */
.page-header {
    /* background-color: blanchedalmond; */
    height: 130px;
    font-size: 30px;
    font-family: 'Philosopher',serif;
    text-align: center;
    letter-spacing: 15px;
    width: 100%;
    line-height: 1.1;
    opacity: .6;
    padding-top: 50px;
}


/* ------------------------------------------------------------ */
/* 説明 */
article {
    text-align: center;
    padding-top: 30px;
    line-height: 2;
}

.br::before {
    content: "\A" ;
    white-space: pre ;
}
/* ------------------------------------------------------------ */
/* メインボックス */

.box-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.content {
    justify-content: center;
}

.box {
    padding: 40px;
 
}

.box img {
    height: 150px;
    width: 150px;
    border-radius: 50px;
}

.box h2  {
    font-size: 30px;
    -webkit-text-fill-color:#fff;
    -webkit-text-stroke:2px #000;
    line-height: 0.8;
    font-family: 'Philosopher',serif;
        
}

.box p  {
    font-size: 20px;
    font-weight: bold;
    -webkit-text-fill-color:#000;
    -webkit-text-stroke:1px #fff;
}
}
/* <!-- ---------------------------------------------------------------------- --> */

.page-footer {
    background-color: #000;
    opacity: .6;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.footer-list {
    display: flex;
    opacity: 1;
    justify-content: center;
    list-style: none;
    padding-top: 20px;
}

.footer-list a {
    margin: 50px;
    font-size: 20px;
    color: white;
}

.footer-list a:hover {
    color: aqua;
}

